<h1 style="text-align: center;">BURGERS</h1>

<div class="container">
    <div class="row">
        <div class="col s6">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Your Burgers</h4></li>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="collection-item">{{this.burger_name}}</li>
                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <button class="btn waves-effect waves-light" type="submit">DEVOUR</button>
                </form>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col s6">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Eaten Burgers</h4></li>
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="collection-item">{{this.burger_name}}</li>
                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                </form>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <form action="/" method="POST">
            <input id="burgerAdd" name="burger_name" class="validate" placeholder="Add a burger">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Burger</button>
            </form>
        </div>
    </div>
</div>